<!-- <form action="/answer">
  <input type="text" name="question">
  <input type="submit" class="button1" value="Ask!">
</form> -->

    <form action="/answer" class="input-group mb-3">
      <input type="text" name="question" class="form-control" placeholder="ask your coach" aria-label="ask" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit" value="ask" id="button-addon2">Ask!</button>
    </form>

